# üêç Introduction to Python and Google Colab

Welcome to the first session of the Python Data Analysis Bootcamp! In this notebook, you'll learn the basics of Python programming and how to use Google Colab. We'll cover variables, data types, simple operations, and basic visualisation. 

**Objectives:**
- Understand basic Python syntax
- Use variables and data structures
- Perform simple calculations
- Create your first plot

> üí° You can run any code cell by pressing `Shift + Enter`

## üî¢ Variables and Data Types

In [ ]:
# Assign values to variables
a = 10
b = 3.5
c = 'Hello, world!'

# Print them
print(a)
print(b)
print(c)

## üì¶ Lists and Indexing

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
print(fruits[0])  # First item

## üõ†Ô∏è Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## üìä Numpy and Pandas Basics

In [ ]:
# Numpy array
array = np.array([1, 2, 3, 4])
print(array * 2)

# Pandas DataFrame
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})
data

## üìà Your First Plot

In [ ]:
x = [1, 2, 3, 4, 5]
y = [1, 4, 9, 16, 25]

plt.plot(x, y)
plt.title('A Simple Plot')
plt.xlabel('x')
plt.ylabel('y')
plt.grid(True)
plt.show()

## ‚úÖ Summary
- You‚Äôve learned about Python variables, lists, and basic libraries like `numpy`, `pandas`, and `matplotlib`.
- You‚Äôve also created your first visualisation!

In the next session, we'll dive deeper into using `pandas` for real-world data analysis tasks.