# üßπ Working with Tables: Meet the Hippos

Today, we‚Äôll work with a messy real-world dataset (it includes hippos!).
We‚Äôll learn how to:
- Read data into a table using `pandas`
- Inspect the data and spot common formatting issues
- Clean up names, numbers, and categories
- Create a tidy DataFrame ready for analysis

## üì• Load the Data

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ggkuhnle/data-analysis/main/data/messy_hippos.csv')  # update this if hosted elsewhere
df

     Name  species Weight (kg)  height_cm  habitat
0    Hugo    hippo        1500        150    River
1    Fiona   Hippo       1,400  one-fifty   river
2   George  hippos         NaN        160     Lake
3     Hugo   hippo       1500         150      NaN

## üîç What‚Äôs Going On Here?

In [2]:
# Let‚Äôs take a quick look
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0    Name        4 non-null      object
 1   species      4 non-null      object
 2   Weight (kg)  3 non-null      object
 3   height_cm    4 non-null      object
 4   habitat      3 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes

## ‚ú® Clean Up the Columns

In [3]:
# Strip extra spaces from column names
df.columns = df.columns.str.strip()
# Also fix column name casing and spelling
df = df.rename(columns={'Name': 'Name', 'Weight (kg)': 'Weight_kg', 'height_cm': 'Height_cm'})
df

      Name species Weight_kg  Height_cm  habitat
0    Hugo    hippo      1500        150    River
1    Fiona   Hippo     1,400  one-fifty   river
2   George  hippos       NaN        160     Lake
3     Hugo   hippo     1500         150      NaN

## üßº Clean Individual Columns

In [6]:
# Remove extra spaces in names and fix inconsistencies
df['Name'] = df['Name'].str.strip().str.capitalize()

# Standardise species names
df['species'] = df['species'].str.strip().str.lower().str.replace('hippos', 'hippo')

# Clean Weight column: remove commas, strip, convert to numeric
df['Weight_kg'] = pd.to_numeric(df['Weight_kg'].str.replace(',', '').str.strip(), errors='coerce')

# Clean Height
df['Height_cm'] = pd.to_numeric(df['Height_cm'], errors='coerce')

# Standardise habitat names
df['habitat'] = df['habitat'].str.strip().str.capitalize()

df

AttributeError: Can only use .str accessor with string values!

## ‚ùì What‚Äôs Missing or Strange?

In [ ]:
df.isna().sum()

## üßæ Summary of the Cleaned Dataset

In [ ]:
df.describe(include='all')

## ‚úÖ Summary ‚Äì What You‚Äôve Learned Today
- Read a CSV file into a `pandas` DataFrame
- Spotted and fixed common issues: extra spaces, inconsistent labels, strange number formats
- Used `.str.strip()`, `.replace()`, and `pd.to_numeric()` to clean columns
- Checked for missing values with `.isna()`

Next time, we‚Äôll learn how to group and summarise data ‚Äì like how much a typical hippo weighs, or what the average habitat height is! ü¶õ