# üìä Exploring Hippo Data ‚Äì Summarise and Compare

In this session, we'll learn how to group data and create simple summaries. You‚Äôll also build your first version of a classic **Table 1** (descriptive summary by group).

**Objectives:**
- Group data with `groupby()`
- Calculate means, counts, and distributions
- Compare groups (e.g. Male vs Female hippos)
- Create a 'Table 1'-style summary

## üì• Load the Clean Hippo Dataset

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ggkuhnle/data-analysis/main/data/hippos_cleaned.csv')  # replace with your GitHub path
df

## üëÄ Quick Look at the Data

In [ ]:
df.info()
df.describe()

## üìè Average Weight by Sex

In [ ]:
df.groupby('Sex')['Weight_kg'].mean()

## üß† Multiple Summaries by Group

In [ ]:
df.groupby('Sex').agg({
    'Weight_kg': ['mean', 'std'],
    'Height_cm': ['mean', 'std'],
})

## üìã Value Counts ‚Äì Habitat Distribution

In [ ]:
df['Habitat'].value_counts()

## üîç Crosstab ‚Äì Habitat by Sex

In [ ]:
pd.crosstab(df['Habitat'], df['Sex'])

## üßæ Build a Simple Table 1

In [ ]:
summary = df.groupby('Sex').agg(
    Weight_mean=('Weight_kg', 'mean'),
    Weight_sd=('Weight_kg', 'std'),
    Height_mean=('Height_cm', 'mean'),
    Height_sd=('Height_cm', 'std'),
    Count=('Name', 'count')
)
summary

## ‚úÖ Summary ‚Äì What You Learned
- Used `groupby()` and `agg()` to summarise data
- Compared average weight and height between groups
- Counted and crosstabbed categorical values
- Built a summary table (Table 1)

Next time, we‚Äôll dive into how to **visualise** some of these differences using beautiful, informative plots! ü¶õ